body {
	background-image: url(https://i.ytimg.com/vi/B7xrGE8GHD4/maxresdefault.jpg);
}
header{
	padding:20px;
 	color:black;
 	font-size:30px;
 	font-family: Arial;
}
#int{
 	color:black;
 		padding:20px;
 	font-size:30px;
 	font-family: Arial;
}
#goal{
	padding:20px;
 	color:black;
 	font-size:50px;
 	font-family: Arial;
}
#start{
	font-size:30px;
}
#winner{
	font-size:30px;
}
#loser{
	font-size:30px;
}
#current{
	font-size: 30px;
}

#scoreBox{
	font-size: 30px;
}
